.searchForm {
    max-height: 38px;
}

/* Nav-bar maenu */
.menu {
    position: absolute;
    left: 0;
    right: 0;
}

.menu-transparent {
    background-color: #0000007a !important;
}

/* ===== Carousel ===== */
#main_carousel .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    width: 50%;
    margin: 0 auto;
}

#main_carousel .carousel-inner {
    background-color: rgb(0, 0, 0, 1);
}

#main_carousel .carousel-item::before {
    content: "";
    display: block;
    padding-top: 41%;
}

#main_carousel .carousel-item {
    max-height: 790px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slide_img {
    position: absolute;
    margin: auto; 
    min-height: 100%;
    min-width: 100%;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    opacity: 0.4;
}

/* ==== Game Card carousel ====*/
.carousel .carousel-control {
    transition: 0.3s linear;
    visibility: hidden;
}

.game_card_carousel .carousel-indicators button {
    width: 7px !important;
    height: 7px !important;
    border-radius: 50%;
}

.card-footer {
    position: relative;
}

.card-footer span {
    vertical-align: middle;
    margin-left: 15px;
}

/*.card-footer p {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
}
*/

.card {
    transition: 0.3s linear;
}

.card:hover {
    z-index: 10;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.card:hover .carousel-control {
    visibility: visible;
}


.gameCardHeader {
    flex-wrap: wrap;
    margin-bottom: 20px;
}



.adminActionsGame {
    width: 70px;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 10px;

    position: absolute;
    z-index: 5;
    right: 17px;
    top: 10px;
}

.adminActionsGame .adminActionBtn{
    color: white;
}