html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.content {
    max-width: 1400px;
    margin: 0 auto;
}


/* nav-bar menu */
.menu-transparent {
    background-color: #000000d9;
}

.menu {
    z-index: 15 !important;
    max-height: 62px;
    font-size: 20px;
    padding: 0 20px;
    background-color: #000000d9;
}

.nav-item, span {
    cursor: pointer;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

/*.pop_ups {
    z-index: 20;
    position: absolute;
    left: 50%;

    transform: translate(-50%, -50%);

    box-shadow: 0 0 1000px black;

    padding: 40px;
    font-family: Arial;
    display: none;
}

.pop_ups .rounded-pill {
    width: 100%;
}*/