html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.content {
    max-width: 1400px;
    margin: 0 auto;
}

/* nav-bar menu */
#mainMenu {
    position: relative;
    z-index: 1;
}

.menu-transparent {
    background-color: #000000d9;
}

.menu {
    z-index: 15 !important;
    max-height: 62px;
    font-size: 20px;
    padding: 0 20px;
    background-color: #000000d9;
}

.nav-item, span {
    cursor: pointer;
}

.dropHover:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}



/*.adminActionsGame {
    position: absolute;
    z-index: 5;
    font-size: 23px;
    right: 17px;
    top: 10px;
}

.adminActionsGame a {
    color: white;
    opacity: .5;
    transition: 0.3s linear;
}

.adminActionsGame a:hover {
    opacity: 1;
}
*/

/* Admin actions (Edit/Delte) */
.adminActionBtn {
    color: black;
    opacity: .5;
    transition: 0.3s linear;

    font-size: 23px;
}

.adminActionBtn:hover {
    color: black;
    opacity: 1;
}


.deleteBtn:hover {
    opacity: 1;
    color: red !important;  
}


@media screen and (max-width: 991px) {
    #mainMenu {
        max-width: 300px;
    }

    #mainMenu .nav-item {
        text-align: center;
        background-color: #212529;
    }

    #mainMenu .dropdown-menu {
        background-color: #353b42;
        text-align: center;
    }

    #mainMenu .dropdown-item {
        color: rgba(255, 255, 255, 0.55);
    }
}
