@model GameZone.ViewModels.GameVM.GameViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">  
    <div class="col-12 col-md-9 col-lg-8 col-xl-7 mx-auto mt-5" id="listComponent">

        @await Component.InvokeAsync("ListOfDevelopers")
       
    </div>


    <div class="row justify-content-center mt-3">
        <a class="btn btn-primary mx-auto col-4" asp-controller="Company" asp-action="CreateCompany" target="_blank">Add new developer</a>
    </div>
</div>


@section scripts
{
    <script src="~/js/SearchInList.js"></script>
    <script>
        function ReloadDevelopersList() {
            $.ajax({
                url: '@Url.Action("ReloadDevelopersList", "Company")', type: "GET",
                success: function(data) {
                    $("#listComponent").html(data);
                }
            })
        }
    </script>
}