<li class="nav-item dropdown dropHover">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
    <ul id="categoryMenu" class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach(var category in Model)
        {
            <li>
                <a class="dropdown-item" onclick="" href="#">@category.Name</a>
            </li>
        }
    </ul>
</li>